---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Halo from "../components/Halo.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Technologies from "../components/Technologies.astro";
import Footer from "../components/Footer.astro";
import Profiles from "../components/Profiles.astro";
import Projects from "../components/Projects.astro";
import Articles from "../components/Articles.astro";
---

<Layout>
  <Halo />
  <header class="flex min-h-screen flex-col">
    <Navbar />
    <Hero />
  </header>
  <section class="mx-48 mt-6 flex space-x-4">
    <Technologies />
    <Profiles />
  </section>
  <Articles />
  <Projects />
  <Footer />
</Layout>
