---
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  thumbnail: string;
  link: string;
}

const { title, description, thumbnail } = Astro.props;
---

<div class="glassy-card flex w-full overflow-hidden">
  <div class="h-32 w-32 flex-shrink-0 bg-white">
    <img
      src={thumbnail}
      alt="Article Thumbnail"
      class="h-full w-full object-cover object-center"
    />
  </div>

  <div class="flex flex-col justify-center p-4">
    <h3 class="mb-3 text-xl font-semibold text-gray-100">{title}</h3>
    <p class="mt-1 text-sm text-gray-300">{description}</p>
  </div>
</div>
