---
import "../styles/global.css";
---

<div class="glassy-card no-halo mx-4 mt-16 mb-18 py-8 lg:mx-16 2xl:mx-48">
  <p class="text-center text-gray-300">
    Made with <a href="https://astro.build" class="font-bold">Astro</a>
    and
    <a href="https://tailwindcss.com" class="font-bold">Tailwind CSS</a>
  </p>
</div>
