---
import "../styles/global.css";
---

<div
  class="glassy-card mx-48 mt-20 mb-16 flex items-center justify-center rounded-xl border p-4 py-12"
>
  <p class="text-center text-gray-300">
    Made with <a href="https://astro.build" class="font-bold">Astro</a>
    and
    <a href="https://tailwindcss.com" class="font-bold">Tailwind CSS</a>
  </p>
</div>
