---
import "../styles/global.css";
---

<nav
  id="navbar"
  class="fixed top-8 right-8 left-8 z-50 flex items-center justify-between rounded-xl bg-gray-800 p-4 text-gray-100 shadow-lg transition-all duration-300"
>
  <!-- Logo / Brand -->
  <div id="navbar-logo" class="flex items-center">
    <img src="/favicon.ico" alt="Logo" class="h-8 w-8" />
    <div id="navbar-title" class="ml-3 text-2xl font-bold">
      Francesco Pastore
    </div>
  </div>

  <!-- Menu Items -->
  <ul class="flex space-x-6">
    <li><a href="#home" class="hover:text-primary">Home</a></li>
    <li><a href="#projects" class="hover:text-primary">Projects</a></li>
    <li><a href="#about" class="hover:text-primary">About</a></li>
    <li><a href="#contact" class="hover:text-primary">Contact</a></li>
  </ul>
</nav>

<script>
  const navbar = document.getElementById("navbar");

  window.addEventListener("scroll", () => {
    if (!navbar) return;
    if (window.scrollY > 0) {
      navbar.classList.replace("left-8", "left-24");
      navbar.classList.replace("right-8", "right-24");
    } else {
      navbar.classList.replace("left-24", "left-8");
      navbar.classList.replace("right-24", "right-8");
    }
  });
</script>
