---
import "../styles/global.css";
---

<nav
  id="navbar"
  class="absolute top-8 right-8 left-8 z-50 flex items-center justify-between rounded-xl bg-gray-800 p-4 text-gray-100 shadow-lg transition-all duration-300"
>
  <!-- Logo / Brand -->
  <div id="navbar-logo" class="flex items-center">
    <img src="/favicon.ico" alt="Logo" class="h-8 w-8" />
    <div id="navbar-title" class="ml-3 text-2xl">Francesco Pastore</div>
  </div>

  <!-- Theme Switcher -->
  <button
    id="theme-toggle"
    class="ml-6 flex cursor-pointer items-center justify-center rounded-lg p-2 transition hover:bg-gray-700 dark:hover:bg-gray-700"
  >
    <img
      id="light-icon"
      src="/icons/light.webp"
      alt="Light Mode"
      class="hidden h-6 w-6"
    />
    <img
      id="dark-icon"
      src="/icons/dark.webp"
      alt="Dark Mode"
      class="h-6 w-6"
    />
  </button>
</nav>

<script src="/src/scripts/theme.js" type="module"></script>
<script src="/src/scripts/navbar.js" type="module"></script>
