---
import "../styles/global.css";
---

<nav
  id="navbar"
  class="absolute top-8 right-8 left-8 z-50 flex items-center justify-between rounded-xl bg-gray-800 p-4 text-gray-100 shadow-lg transition-all duration-300"
>
  <!-- Logo / Brand -->
  <div id="navbar-logo" class="flex items-center">
    <img src="/favicon.ico" alt="Logo" class="h-8 w-8" />
    <div id="navbar-title" class="ml-3 text-2xl">Francesco Pastore</div>
  </div>
</nav>

<script src="/src/scripts/navbar.js" type="module"></script>
