---
import "../styles/global.css";
---

<div class="glassy-card flex-1 items-start space-y-4 p-4 shadow-lg">
  <h5 class="py-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Profiles
  </h5>

  <div class="flex items-center gap-4">
    <img src="/profiles/medium.webp" alt="Medium" class="profile-icon" />
    <img src="/profiles/thm.webp" alt="THM" class="profile-icon" />
    <img src="/profiles/htb.webp" alt="HTB" class="profile-icon" />
  </div>
  <div class="flex items-center gap-4">
    <img
      src="https://tryhackme-badges.s3.amazonaws.com/2h3ph3rd.png"
      alt="THM Badge"
      class="h-18"
    />
    <img
      src="https://www.hackthebox.com/badge/image/699431"
      alt="HTB Badge"
      class="h-18"
    />
  </div>
</div>
