---
import "../styles/global.css";
import profiles from "../data/profiles.json";
---

<div class="glassy-card flex-1 items-start space-y-4 p-4 shadow-lg">
  <h5 class="py-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Profiles
  </h5>

  <div class="flex items-center justify-center gap-8">
    {
      profiles.map((profile) => (
        <a href={profile.link} target="_blank" rel="noopener noreferrer">
          <img src={profile.icon} alt={profile.link} class="profile-icon" />
        </a>
      ))
    }
  </div>
  <div class="mt-8 flex items-center justify-center">
    <img
      src="https://tryhackme-badges.s3.amazonaws.com/2h3ph3rd.png"
      alt="THM Badge"
      class="h-22"
    />
  </div>
</div>
