---
import "../styles/global.css";
import projects from "../data/projects.json";
---

<div class="glassy-card mx-4 mt-16 py-8 lg:mx-16 2xl:mx-48" id="projects">
  <h2 class="mb-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Projects
  </h2>
  <p class="text-center text-gray-300">A collection of some of my projects</p>
</div>

<div
  class="mx-4 mt-8 grid grid-cols-1 items-stretch gap-4 lg:mx-16 2xl:mx-48 2xl:grid-cols-4"
>
  {
    projects.map((project) => (
      <div class="glassy-card relative flex h-full flex-col p-4">
        <h3 class="mt-1 text-xl font-semibold text-gray-100">
          {project.title}
        </h3>
        <p class="mt-3 mb-6 text-sm text-gray-300">{project.description}</p>

        <div class="mt-auto flex space-x-4">
          <a href={project.link} target="_blank" rel="noopener noreferrer">
            <img src="/icons/github.webp" alt="GitHub" class="h-6" />
          </a>
          {project.website && (
            <a href={project.website} target="_blank" rel="noopener noreferrer">
              <img src="/icons/website.webp" alt="Website" class="h-6" />
            </a>
          )}
        </div>
      </div>
    ))
  }
</div>
