---
import "../styles/global.css";
import Project from "./Project.astro";
import projects from "../data/projects.json";
---

<div class="glassy-card mx-48 mt-16 py-8">
  <h2 class="mb-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Projects
  </h2>
  <p class="text-center text-gray-300">Check out some of my projects</p>
</div>

<div class="mx-48 mt-8 grid grid-cols-1 gap-4 2xl:grid-cols-4">
  {
    projects.map((project) => (
      <Project
        title={project.title}
        description={project.description}
        link={project.link}
        website={project.website}
      />
    ))
  }
</div>
