---
import "../styles/global.css";
---

<div class="glassy-card flex-1 items-start space-y-4 p-4 shadow-lg">
  <h5 class="py-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Technologies
  </h5>

  <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
    <div class="technology-card">
      <img src="/technologies/go.webp" alt="Go" class="technology-icon" />
      <span class="technology-text">Go</span>
    </div>

    <div class="technology-card">
      <img
        src="/technologies/python.webp"
        alt="Python"
        class="technology-icon"
      />
      <span class="technology-text">Python</span>
    </div>

    <div class="technology-card">
      <img
        src="/technologies/javascript.webp"
        alt="Javascript"
        class="technology-icon"
      />
      <span class="technology-text">Javascript</span>
    </div>

    <div class="technology-card">
      <img src="/technologies/node.webp" alt="Node" class="technology-icon" />
      <span class="technology-text">Node</span>
    </div>

    <div class="technology-card">
      <img src="/technologies/redis.webp" alt="Redis" class="technology-icon" />
      <span class="technology-text">Redis</span>
    </div>

    <div class="technology-card">
      <img
        src="/technologies/postgres.webp"
        alt="Postgres"
        class="technology-icon"
      />
      <span class="technology-text">Postgres</span>
    </div>

    <div class="technology-card">
      <img src="/technologies/mongo.webp" alt="Mongo" class="technology-icon" />
      <span class="technology-text">Mongo</span>
    </div>

    <div class="technology-card">
      <img
        src="/technologies/docker.webp"
        alt="Docker"
        class="technology-icon"
      />
      <span class="technology-text">Docker</span>
    </div>

    <div class="technology-card">
      <img
        src="/technologies/kubernetes.webp"
        alt="Kubernetes"
        class="technology-icon"
      />
      <span class="technology-text">Kubernetes</span>
    </div>

    <div class="technology-card">
      <img src="/technologies/s3.webp" alt="S3" class="technology-icon" />
      <span class="technology-text">S3</span>
    </div>
  </div>
</div>
