---
import "../styles/global.css";
import technologies from "../data/technologies.json";
---

<div class="glassy-card flex-1 items-start space-y-4 p-4 shadow-lg">
  <h5 class="py-3 text-center text-2xl font-bold tracking-tight text-gray-100">
    Technologies
  </h5>

  <div class="grid grid-cols-2 gap-4 lg:grid-cols-3">
    {
      technologies.map((tech) => (
        <div class="inline-flex items-center space-x-3 rounded-lg bg-gray-500 px-3 py-2 text-white shadow-md transition hover:bg-gray-700">
          <img src={tech.thumbnail} alt={tech.name} class="h-8 w-8" />
          <span class="truncate text-sm text-gray-100">{tech.name}</span>
        </div>
      ))
    }
  </div>
</div>
