---
import "../styles/global.css";
---

<div
  class="glassy-card top-6 mx-48 mt-6 flex flex-col items-start space-y-4 p-4 shadow-lg"
>
  <h5 class="text-2xl font-bold tracking-tight text-gray-100">Technologies</h5>

  <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
    <div class="technology-card">
      <img src="/icons/go.webp" alt="Go" class="technology-icon" />
      <span class="technology-text">Go</span>
    </div>

    <div class="technology-card">
      <img src="/icons/python.webp" alt="Python" class="technology-icon" />
      <span class="technology-text">Python</span>
    </div>

    <div class="technology-card">
      <img
        src="/icons/javascript.webp"
        alt="Javascript"
        class="technology-icon"
      />
      <span class="technology-text">Javascript</span>
    </div>

    <div class="technology-card">
      <img src="/icons/node.webp" alt="Node" class="technology-icon" />
      <span class="technology-text">Node</span>
    </div>

    <div class="technology-card">
      <img src="/icons/redis.webp" alt="Redis" class="technology-icon" />
      <span class="technology-text">Redis</span>
    </div>

    <div class="technology-card">
      <img src="/icons/postgres.webp" alt="Postgres" class="technology-icon" />
      <span class="technology-text">Postgres</span>
    </div>

    <div class="technology-card">
      <img src="/icons/mongo.webp" alt="Mongo" class="technology-icon" />
      <span class="technology-text">Mongo</span>
    </div>

    <div class="technology-card">
      <img src="/icons/docker.webp" alt="Docker" class="technology-icon" />
      <span class="technology-text">Docker</span>
    </div>

    <div class="technology-card">
      <img
        src="/icons/kubernetes.webp"
        alt="Kubernetes"
        class="technology-icon"
      />
      <span class="technology-text">Kubernetes</span>
    </div>

    <div class="technology-card">
      <img src="/icons/s3.webp" alt="S3" class="technology-icon" />
      <span class="technology-text">S3</span>
    </div>
  </div>
</div>
